<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 id="modal-1-title" class="modal__title">
            安装指南
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
          <h3>iOS安装指南</h3>
          <ol>
            <li>使用Safari打开 <a href="https://https://xfakeapp.herokuapp.com">https://xfakeapp.herokuapp.com</a>,不支持其它浏览器。</li>
            <li>搜索并找到您沉迷的App</li>
            <li>打开后，点击页面底部的“分享”按钮。</li>
            <li>在底行中，找到“添加到主屏幕”并点击按钮</li>
            <li>在主屏幕上找到刚刚“添加”在主屏幕上的App并打开。</li>
            <li>删除你沉迷的真App（如果你足够勇敢）</li>
            <li>下次打开应用程序时，您将看到解毒版本</li>
          </ol>
          <h3>Android安装指南</h3>
          <ol>
            <li>使用Chrome打开 <a href="https://https://xfakeapp.herokuapp.com">https://xfakeapp.herokuapp.com</a> (或者其它基于 Chromium 的浏览器).</li>
            <li>点击 "安装" 按钮</li>
            <li>点击弹出窗口中的 "添加"</li>
            <li>等待几秒钟直到安装完毕，应用程序将出现在您的应用程序抽屉中</li>
            <li>删除你沉迷的真App（如果你足够勇敢）</li>
            <li>下次打开应用程序时，您将看到解毒版本</li>
          </ol>
        </main>
      </div>
    </div>
  </div>

<script src="/javascripts/micromodal.min.js"></script>
<script>
MicroModal.init({
  disableScroll: false,
  disableFocus: true,
  awaitCloseAnimation: true
});
</script>
